.env
.venv/
runs/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
figures/*previous*
pip-wheel-metadata/
build/
dist/
*.egg-info/
